<style type="text/css">
body {
  font-size: small;
}
h1 {
  font-size: medium;
  text-decoration: underline;
}
h2 {
  font-size: small;
}
h3 {
  font-size: small;
  font-style: italic;
}
h4 {
  font-size: small;
  font-weight: normal;
  font-style: italic;
}
table,th,td{
  border-style: solid;
}
</style>
